<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="test2017060904.css"?>
<documento xml:lang="es">
    <grado>
    <title>Horario nº1</title>
        <párrafo><a href="horario1DAW.xml" xmlns="http://www.w3.org/1999/xhtml">1ºDAW</a></párrafo>
    </grado>
    
    <grado>
    <title>Horario nº2</title>
        <párrafo><a href="horario2Asir.xml" xmlns="http://www.w3.org/1999/xhtml">1ºASIR</a></párrafo>
    </grado>
</documento>